@media screen and (max-width: 728px) and (min-width: 100px){
.row-container2{
align-items: unset;
flex-direction: column;
}
.row-container{
display: none;
}
#district,#period{
width: 50%;
margin: 5px 0;
}
.period-label-row,.district-label-row{
margin: 5px 0;
}
.column-container{
display: flex;
}
}

@media screen and (max-width: 600px) and (min-width: 100px){
#district, #period{
	width: 100%;
}
}

@media screen and (max-width: 480px) and (min-width: 100px){
.authorization-paragraph{
	width: 100%;
}
.authorization-container{
	flex-wrap: wrap;
}
legend{
	padding: 10px;
}
#authorization-yes, #authorization-not{
    width: 20px;
    height 20px;
}
.submit-button{
    width: 100%;
}
}
@media screen and (max-width: 340px) and (min-width: 100px){
body, .authorization-paragraph{
	font-size: 0.9em;
}
fieldset, header{
	padding: 10px;
}
.form-section{
	padding: 10px;
}
}
